# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Log Files
*.log

# Android Studio 3.4
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
.idea/.name
.idea/vcs.xml
.idea/misc.xml
*.misc.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/workspace.xml
*.workspace.xml
.idea/navEditor.xml
.idea/scopes/scope_settings.xml
/.idea/assetWizardSettings.xml
.idea/copyright/profiles_settings.xml
/build
/captures
.externalNativeBuild


# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Local configuration file (sdk path, etc)
local.properties

# Built application files
/*/build/

# Keystore ans signing files
*.jks
.signing/

### Android Patch ###
gen-external-apklibs

# Freeline
freeline.py
freeline/
freeline_project_description.json


## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

